@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040714;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

/* media query */

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 479px) {
  body {
    font-size: 14px;
  }
}
